<div class="container">
  <h1 class="text-xx-large text-bold">Recordings</h1>

  <div class="margin-block" id="boat_classes">
    <% @recordings.each do |recording| %>
      <%= link_to admin_recording_path(recording), class: "text-undecorated text-primary" do %>
        <%= render recording %>
      <% end %>
    <% end %>
  </div>
</div>
