<div class="container">
  <h1 class="text-xx-large text-bold">Boat classes</h1>

  <div class="margin-block" id="boat_classes">
    <% @boat_classes.each do |boat_class| %>
      <%= link_to boat_class do %>
        <%= render boat_class %>
      <% end %>
    <% end %>
  </div>

  <%= link_to "New boat class", new_boat_class_path, class: "btn btn--reversed" %>
</div>
