<% content_for :app_page_header do %>
  <div class="flex-item-justify-start">SailTrace</div>
<% end %>

<div class="container">
  <h1>Recordings</h1>

  <div id="recordings" class="margin-block-start">
    <%= render partial: 'recording', collection: @recordings, as: :recording %>
  </div>

  <%= link_to "New recording", new_recording_path %>
</div>
