<% content_for :app_page_header do %>
  <div class="flex-item-justify-start"><%= link_back %></div>
<% end %>

<div class="container">
  <div data-controller="geolocation">
    <h1 class="text-x-large text-bold margin-block">New recording</h1>

    <div data-geolocation-target="locationWarning" class="location-warning" style="display: none;">
      <p class="margin-block">Location tracking is off. You need to turn it on for the app to work properly.</p>
      <button class="btn" data-action="click->geolocation#requestLocation">Turn location tracking on</button>
    </div>

    <%= render "form", recording: @recording %>
  </div>
</div>
