<div class="container">
  <div data-controller="track-recording" id="<%= dom_id @recording %>" data-track-recording-recording-id-value="<%= @recording.id %>">
    <h1 class="text-xx-large text-bold margin-block-end">Recording</h1>
    <p>Do not close your phone or navigate away from this screen while the recording is in progress.</p>
    <div id="beacon" data-track-recording-target="beacon" class="beacon center margin-block-quadruple"></div>
    <div data-track-recording-target="gpsWarning" class="gps-warning text-align-center text-negative text-semibold">
      GPS accuracy is too low. Move to an open area with a clear view of the sky.
    </div>
    <pre data-track-recording-target="consoleLog" class="fit-content center text-muted"></pre>
    <div class="margin-block flex gap justify-center">
      <button class="btn" data-action="click->track-recording#toggleRecordingAction" data-track-recording-target="pauseButton">Pause recording</button>
      <button class="btn btn--reversed" data-action="click->track-recording#confirmEndRecording">End recording</button>
    </div>
  </div>
</div>

<style>
  .beacon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    position: relative;
    border-color: transparent;
  }

  .pulse-green {
    border-color: #00ff00;
    animation: pulse 1.5s infinite;
  }

  .pulse-red {
    border-color: #ff0000;
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

  .gps-warning {
    display: none;
  }
</style>
