<div class="container">
  <div data-controller="track-recording" id="<%= dom_id @recording %>" data-track-recording-recording-id-value="<%= @recording.id %>">
    <h1>Recording</h1>
    <p>Do not close your phone or navigate away from this screen while the recording is in progress.</p>

    <div id="beacon" data-track-recording-target="beacon" class="beacon"></div>

    <div data-track-recording-target="gpsWarning" class="gps-warning">
      GPS accuracy is too low. Move to an open area with a clear view of the sky.
    </div>

    <pre data-track-recording-target="consoleLog" class="console-log"></pre>

    <button data-action="click->track-recording#toggleRecordingAction" data-track-recording-target="pauseButton">Pause recording</button>
    <button data-action="click->track-recording#confirmEndRecording">End recording</button>

    <div>
      <%= link_to "Back to recordings", recordings_path %>
    </div>
  </div>
</div>

<style>
  .beacon {
    display: block;
    margin: 20px auto;
    height: 50px;
    width: 50px;
    background-color: #ff0000;
    border-radius: 50%;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  .is-recording {
    background-color: #00ff00;
  }
  .gps-warning {
    display: none;
    color: red;
    font-weight: bold;
  }
  .console-log {
    height: 100px;
    overflow-y: scroll;
    background: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
</style>
