<h1>Editing boat class</h1>

<%= render "form", boat_class: @boat_class %>

<br>

<div>
  <%= link_to "Show this boat class", @boat_class %> |
  <%= link_to "Back to boat classes", boat_classes_path %>
</div>
