<div class="container">
  <%= render @boat_class %>

  <div class="margin-block">
    <%= link_to "Edit this class", edit_boat_class_path(@boat_class) %> |
    <%= link_to "Back to boat classes", boat_classes_path %>
  </div>
  <div>
    <%= button_to "Destroy this class", @boat_class, method: :delete, class: "btn" %>
  </div>
</div>
