<section class="text-align-center">
  <%= image_tag "logos/sailtrace-app-icon.png", role: "presentation", size: 36, class: "center margin-block" %>
  <h1 class="text-x-large text-bold margin-block">Welcome to SailTrace</h1>
  <%= render "form", user: @user %>
  <%= link_to "Log in", new_session_path %>
</section>
