<p style="color: green"><%= notice %></p>

<h1>Recorded locations</h1>

<div id="recorded_locations">
  <% @recorded_locations.each do |recorded_location| %>
    <%= render recorded_location %>
    <p>
      <%= link_to "Show this recorded location", recorded_location %>
    </p>
  <% end %>
</div>

<%= link_to "New recorded location", new_recorded_location_path %>
