<div class="full-height">
  <div class="container">
    <div class="margin-block flex justify-space-between align-center">
      <%= image_tag "logos/logo-transparent.svg", role: "presentation", height: 24 %>
      <nav>
        <%= link_to "Log in", new_session_path, class: "btn" %>
      </nav>
    </div>
    <div class="text-align-center">
      <h1 class="margin-block-double text-xx-large text-bold">Record, replay, and analyze your races</h1>
      <%= link_to "Get early access", new_user_path, class: "btn btn--reversed" %>
    </div>
  </div>
</div>
