.panel {
  --panel-width: 50ch;
  --panel-padding: 1em;

/*  inline-size: var(--panel-width);*/
  background-color: var(--color-bg);
  color: var(--text-color);
  max-inline-size: 100vw;
  padding: var(--panel-padding);
  text-decoration: none;
  border: 1px solid var(--color-border);
  border-radius: 0.8em;

  @media (min-width: 100ch) {
    --panel-padding: 2em;
  }
}
