<div class="container">
  <h1 class="text-xx-large text-bold">Boats</h1>

  <div class="margin-block" id="boats">
    <% @boats.each do |boat| %>
      <%= render boat %>
      <p>
        <%= link_to "Show this boat", boat %>
      </p>
    <% end %>
  </div>

  <%= link_to "New boat", new_boat_path, class: "btn btn--reversed" %>
</div>
