<%= render layout: "layouts/base" do %>
  <main role="main" class="fixed inset-0 bg-gray-100 dark:bg-zinc-950 flex flex-1 flex-col lg:min-w-0 pt-16 sm:px-2 sm:pb-2 text-zinc-950 dark:text-white">
    <div id="main-panel" class="grow rounded-lg bg-white shadow lg:shadow-sm ring-1 ring-gray-900/5 dark:bg-zinc-900 dark:ring-zinc-500/20 overflow-y-auto scroll-smooth">
      <%= yield %>
    </div>
  </main>
<% end %>