<% content_for :app_page_header do %>
  <div class="flex-item-justify-start"><%= link_back %></div>
<% end %>

<div class="container">
  <h1 class="text-xx-large text-bold">New boat</h1>

  <%= render "form", boat: @boat %>

  <div>
    <%= link_to "Back to boats", my_boats_path %>
  </div>
</div>
